input {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    padding: 8px;
    font-size: 14px;
    margin: 10px;
    width: 100%;
    
}

button{
    background-color: #4c744c;
    color: white;
    margin: 10px;
    padding: 0.6em 1.2em;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.30s color 0.20s;
  }
  button:hover{  
    color: #3a5a40;
    border-color: #3a5a40;
}      
